@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  font-family: "Baloo 2", system-ui, sans-serif;
}

body {
  @apply bg-sky-50 text-slate-900;
}

canvas {
  display: block;
}
